input[type=button] 
        {
        background-color: white;
        border: none;
        color: black;
        font-weight: bold;
        padding: 6px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px; 
        cursor: pointer;
        box-shadow: 3px 3px 3px black;
        }
        
        input[type="text"]
        {
        border: solid;
        color: black;
        padding: 15px 32;
        text-align: right;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        width: 98%;
        box-shadow: 3px 3px 3px black;
        }
        
        body
        {
        background-color: #D4D7DB;
        }
        
        table 
        {
        background-color: #E4E7EA;
        padding: 5px 5px;
        }
        
     
       
